data/thesaurus/organism/ncbi_binomial_taxonomy.parquet filter=lfs diff=lfs merge=lfs -text
data/brenda/brenda_kcat_cleanest.parquet filter=lfs diff=lfs merge=lfs -text
data/brenda/brenda_kcat_v3.parquet filter=lfs diff=lfs merge=lfs -text
data/export/**/*.parquet filter=lfs diff=lfs merge=lfs -text
data/enzymes/**/*.parquet filter=lfs diff=lfs merge=lfs -text
